mixin gallery (data)
	.gallery__inner-wrap(data-img= data.img)
		img(alt="" src= data.img)
		.gallery__name(data-name= data.name) !{data.name}
		.gallery__price !{data.price}
		//.gallery__discount
		//	.gallery__sum !{data.sum}
		//	.gallery__description !{data.descr}
