.tab
	display: flex;
	margin-left: 8px;
	color:$c-bg;
	&__item
		font:16px/30px $f-helvetica-l
		border:1px solid #d3d3d3;
		background: linear-gradient(to bottom, #fbfbfb, #e4e4e4)
		padding: 5px 24px;
		position: relative;
		&:hover
			//border-bottom:2px solid #ffffff;
			background: #fff;
			font:18px/30px $f-helvetica-r;
			cursor pointer;
		&:hover:after
			content: "";
			width: 100%;
			background-color: #fff;
			height: 3px;
			position: absolute;
			left: 0px;
			top: 39px;

