.top-menu
	display: flex;
	justify-content: flex-end;
	padding-right: 149px;
	height: 28px;
	background-color: $c-bg;
	&__li
		display: inline-block;
		padding-left: 20px;
		letter-spacing: -0.35px;
		padding-top: 2px
	&__link
		color: #ffffff;
		font:16px/26px $f-segoe-light;
		&:hover
			color: $c-green;
			border-bottom: alpha($c-green,0.3);