.comment
	h1.comment__title Write a comment
	form.comment__form
		.comment__row
			label.comment__label Your name
			input(type="text" name="name").comment__text
		.comment__row
			label.comment__label email
			input(type="text" name="email").comment__text
		.comment__row
			label.comment__label Message
			textarea(name="msg").comment__text.comment__textarea
			.comment__button Submit

