.comment
	margin-top: 9px
	&__title
		font:20px/26px $f-segoe-ui;
		color: #7e7e7e;
	&__row
		display: flex;
		//min-width 647px
		justify-content: flex-end;
		margin-right: 17px;
		flex-wrap: wrap;
		margin-left: 7px;
	&__row:not(:first-child)
		margin-top: 13px;
	&__row:first-child
		margin-top: 25px
	&__label
		font:16px/26px $f-segoe-ui;
		color:#a2a2a2;
	&__text
		border:1px solid #d3d3d3;
		border-radius: 5px;
		flex-basis: calc(100% - 100px);
		margin-left: 19px;
	&__text:not(:last-child)
		min-height:132px
	&__textarea
		resize:none;
	&__button
		font:700 19px/20px $f-segoe-wpn;
		background: linear-gradient(to bottom, #61c261, #51a551) ;
		//display: inline-block
		padding: 9px 17px;
		border-radius: 3px;
		margin-top: 10px;
		color:#ffffff;
		align-self flex-end;
		&:hover
			background: linear-gradient(to top, #61c261, #51a551) ;
			cursor:pointer;
