.details
	margin-top: -4px;
	margin-bottom:9px;
	flex-basis: calc(100% - 279px);
	&__li
		display: inline-block;
		padding: 7px 25px 4px 12px;
		background-color: #c2c2c2;
		border-radius:5px 5px 0 0;
		font:18px/26px $f-segoe-ui
		color:#ffffff;
		border: 1px solid #c2c2c2;;
		position relative;
		&:hover
			color:#c2c2c2;;
			background-color: #fff;
		&:hover:after
			content: "";
			width: 100%;
			background-color: #fff;
			height: 7px;
			position: absolute;
			left: 0;
			top: 33px;
	&__li:not(:first-child)
		margin-left: 6px;
		padding: 3px 21px 4px 12px;
	&__li:first-child
		color:#c2c2c2;
		background-color: #fff;
		border-bottom:1px solid #fff;
		padding-left: 28px;
		padding-right: 22px;
		&:after
			content: "";
			width: 100%;
			background-color: #fff;
			height: 7px;
			position: absolute;
			left: 0;
			top: 33px;
	&__text
		border:1px solid #c2c2c2;
		padding: 14px 47px 18px 33px;
		border-radius: 0 5px 5px 5px;
		font:14px/26px $f-segoe-ui;
		color: #7e7e7e;