.adress
	margin-top: 9px;
	height: 30px;
	border-radius:7px;
	box-shadow: 0 0 2px 0 #d3d3d3;
	padding-left: 18px;
	padding-top: 4px;
	margin-bottom: 9px;
	min-width: 1000px;
	&__li
		display: inline-block;
		font:16px/20px $f-segoe-ui;
		color:#a6a6a6;
	&__li:last-child
		margin-left: 7px;
	&__li:not(:last-child):after
		content: "\00BB";
		//position: relative;
		margin-left: 8px;
