.global-row
	min-width 1000px;
	max-width: 1280px;
.inner-wrap
	max-width:1024px;
	margin: 0 auto;
	padding-left: 12px;
.slider-wrap, .content
	display: flex;
.bottom-menu
	background-image:url('../../assets/images/bg/bottom-menu.png');
	display: flex
	justify-content: space-around;
	padding-left: 155px;
	padding-right 128px;
.product
	&__row
		display: flex;
		flex-wrap: wrap;
