//- Выбираем шаблон
extends  ../blocks/layouts/default


block head
	- var pageTitle = 'Books Online - Главная'



block content
	.global-row
		include ../blocks/menus/top-menu/top-menu
		include ../blocks/header/header
		include ../blocks/menus/categories-top-menu/categoies-top
		.inner-wrap
			.slider-wrap
				include ../blocks/slider/slider
				include ../blocks/reference/reference
			.content
				section.sidebar
					include ../blocks/menus/categories-left-menu/left-menu
				section.list-item
					include ../blocks/menus/tabs-menu/tab
					include ../blocks/gallery/gall
		section.bottom-menu
			include ../blocks/menus/biography-menu/biography
			include ../blocks/menus/professional-menu/profy
			include ../blocks/menus/earth-menu/earth
			include ../blocks/menus/mathematics-menu/mathematics
		include ../blocks/footer/footer

	//- include ../blocks/block/block


