//- Выбираем шаблон
extends  ../blocks/layouts/default


block head
	- var pageTitle = 'Books Online - Главная'



block content
	.global-row
		include ../blocks/menus/top-menu/top-menu
		include ../blocks/header/header
		.inner-wrap
			include ../blocks/menus/categories-top-menu/categoies-top
			.product
				include ../blocks/adress/adress
				.product__row
					include ../blocks/describle/describle
					include ../blocks/details/details
					include ../blocks/review/review
					include ../blocks/reference/set
		section.bottom-menu
			include ../blocks/menus/biography-menu/biography
			include ../blocks/menus/professional-menu/profy
			include ../blocks/menus/earth-menu/earth
			include ../blocks/menus/mathematics-menu/mathematics
		include ../blocks/footer/footer

