.biography
	h1.biography__title Biography & True Stories
	ul.biography__menu
		li.biography__item General
		li.biography__item Diaries, Letters & Journals
		li.biography__item Memoirs
		li.biography__item True Stories
		li.biography__item Generic Exams
		li.biography__item GK Titles
		li.biography__item Medical Entrance
		li.biography__item Other Entrance Exams
		li.biography__item PG Entrance Examinations
		li.biography__item Self-help Titles
		li.biography__item Sociology


