.describle
	padding-left:32px;
	padding-top: 30px
	border-radius:7px;
	border: 1px solid #c2c2c2;
	margin-bottom: 14px;
	padding-bottom: 29px;
	&__wrap
		display: flex;
	&__inner-row
		margin: 0 45px;
	&__inner-wrap
		display: flex
		justify-content: space-between;
	&__title
		font:41px/22px $f-segoe;
		color:#595959;
		margin-top: 11px;
		margin-left: -4px;
		letter-spacing: 0.5px;
	&__description
		font:16px/26px $f-segoe-ui
		color:#575757;
		margin-top: 31px
	&__label
		margin-top: 4px;
	&__img
		margin-top: -4px