.describle
	.describle__wrap
		.describle__img
			img(alt="" src="assets/images/product/starwars.png")
		.describle__inner-row
			.describle__inner-wrap
				.describle__title Star Wars Episode I
				.describle__label
					img(alt="" src="assets/images/icons/label.png")
			.describle__description The Star Wars Episode I: The Phantom Menace novelization was written by Terry Brooks and published on April 21, 1999 by Del Rey. It is based on the script of the movie of the same name. Narration for the abridged audio version was performed by Michael Cumpsty. The unabridged version was performed by Alexander Adams. On January 31, 2012, a new paperback edition
			.describle__price
				include ../price/price

