.reference
	width: 304px;
	height: 304px;
	margin: 15px 12px 10px 0px;
	text-align: center
	background: url('../../assets/images/bg/reference.png') no-repeat;
	padding-top: 18px;
	color:#ffffff;
	&__title
		font:27px/24.21px $f-segoe-wp-semibold;
		letter-spacing:0.9px;
		margin-left: -2px;
	&__img
		position: relative;
		top: 7px;
		left: -7px;
		z-index: 2;
	&__img-stand
		position: relative;
		top: 2px;
		left: -7px;
		z-index: 1;
	&__description
		font:15px/26px $f-segoe-light;
		letter-spacing:-0.3px;
	&__discount
		font:21px/26px $f-segoe-semilight;
		letter-spacing: -0.5px;
		margin-top: 2px;
		margin-left: -8px;
	&__price
		font:29px/26px $f-segoe-wpn-semibold;
		margin-left: -12px;
		margin-top: 5px
	&__button
		font:700 19px/20px $f-segoe-wpn;
		background: linear-gradient(to bottom, #61c261, #51a551) ;
		display: inline-block
		padding: 3px 19px 7px 15px;
		border-radius: 5px;
		margin-top: 7px;
		text-shadow: 1px 0 0 #000;
		margin-left: -7px;
		&:hover
			background: linear-gradient(to top, #61c261, #51a551) ;
			cursor:pointer;

