.reference
	.reference__title Deal of the Month
	.reference__description The Human Face of Big Data
	.reference__images
		.reference__img
			img(alt="" src="assets/images/reference-book.png")
		.reference__img-stand
			img(alt="" src="assets/images/stand.png")
	.reference__discount Save 45% Today
	.reference__price $27.50
	.reference__button Buy now