-
	var set = [
	{
		img: "assets/images/miniature/1.png",
		name: "The Hare With Amber",
		price: "$50",
		button: "Read more"
	},
	{
		img: "assets/images/miniature/1.png",
		name: "The Hare With Amber",
		price: "$50",
		button: "Read more"
	},
	{
		img: "assets/images/miniature/1.png",
		name: "The Hare With Amber",
		price: "$50",
		button: "Read more"
	},
	{
		img: "assets/images/miniature/1.png",
		name: "The Hare With Amber",
		price: "$50",
		button: "Read more"
	},
	{
		img: "assets/images/miniature/1.png",
		name: "The Hare With Amber",
		price: "$50",
		button: "Read more"
	},
	{
		img: "assets/images/miniature/1.png",
		name: "The Hare With Amber",
		price: "$50",
		button: "Read more"
	},
	{
		img: "assets/images/miniature/1.png",
		name: "The Hare With Amber",
		price: "$50",
		button: "Read more"
	}
	]
.set
	h1.set__title You may also like
	each item in set
		.set__row
			.set__img
				img(alt="" src= item.img)
			.set__inner-wrap
				.set__name !{item.name}
				.set__price !{item.price}
				.set__button !{item.button}

