.set
	border-radius 7px;
	border:1px solid #c2c2c2;
	padding: 5px 32px 0 8px;
	margin-top: -148px;
	margin-left: 15px;
	margin-bottom: 24px;
	&__row
		display: flex;
		flex-wrap: wrap;
		margin-top: 4px;
	&__inner-wrap
		margin-top: 18px;
		margin-left: -2px;
	&__title
		font:18px/26px $f-segoe-ui;
		color:#7e7e7e;
	&__name
		font:15px/16px $f-segoe-semilight
		color:#595959;
	&__price
		font: 21.67px/20px $f-segoe-semilight
		color: $c-red;
		margin-top: 5px;
	&__button
		background-color: $c-bg;
		width: 88px
		height: 23px
		color:#ffffff;
		border-radius:5px;
		text-align: center;
		margin-top: 10px;
		&:hover
			background-color: #fff;
			border: 1px solid #000;
			color:#000000;
	&__img
		margin-left: -7px;
