.categories-top
	ul.categories-top__menu
		li.categories-top__li Computers
		li.categories-top__li Cooking
		li.categories-top__li.categories-top__li--selected Education
		li.categories-top__li Fiction
		li.categories-top__li Health
		li.categories-top__li Mathematics
		li.categories-top__li Medical
		li.categories-top__li Reference
		li.categories-top__li Science


