.categories-top
	height: 40px;
	border-top:1px solid #d3d3d3;
	border-bottom:1px solid #d3d3d3;
	padding-right: 10px;
	&__menu
		display: flex;
		max-width 972px;
		justify-content: space-between;
		height: 39px;
		margin: 0 auto;
	&__li
		color:$c-bg;
		font:19px/26px $f-segoe-ui;
		//padding-left:10px;
		//padding-right: 10px;
		padding-top: 6px;
	&__li--selected
		color:#ffffff;
		background-color: $c-green;
		background: linear-gradient(to bottom, #92d774, #7ab461)
		padding-left:18px;
		margin-left: -14px;
		padding-right:14px;
	&__li:nth-child(4)
		margin-left: -13px;
	&__li:nth-child(5)
		margin-right: 7px;