.header
	display: flex;
	background: linear-gradient(to bottom, #ffffff, #ebebeb)
	padding-bottom 17px;
	padding-left: 139px;
	padding-top: 20px;
	&__img
		position: relative;
		background-color: linear-gradient(to left, #434343, #777777)
		left:2px;
	&__inner-text
		position: absolute;
		color: #ffffff;
		text-transform: uppercase;
		font:28px/26px $f-simplo;
		top: 15px;
		left: 10px;
	&__vertical-text
		transform:rotate(-90deg)
		font:21.11px/19.36px $f-simplo;
		position: absolute;
		color:$c-bg;
		text-transform: uppercase;
		top: 28px;
		left: 90px;
		letter-spacing: -0.9px;
	&__search
		margin-left: 67px;
		display: flex;
		margin-top: 17px;
		height: 100%;
	&__search-input
		border:4px solid $c-green;
		width: 333px;
		border-radius: 5px;
		height: 40px
	&__search-button-wrap
		position: relative;
		margin-left: -4px
	&__search-button
		width: 127px;
		height: 40px;
		background-color: $c-green;
		color:#ffffff;
		font: 23px/26px $f-segoe-wpn;
		padding-left: 28px;
		padding-bottom: 5px;
		&:hover
			background-color: alpha($c-green,0.5)
			cursor:pointer;
	&__search-logo
		position: absolute;
		top: 8px;
		left: 14px;
	&__cart
		margin-top: 4px;
		margin-left: 52px;
		display: flex;
		flex-wrap: wrap;
		width: 191px
		border-right: 1px solid #d3d3d3;
	&__cart-title
		font:23px/26px $f-segoe;
		margin-left: 11px;
		margin-right: 7px;
		letter-spacing: 0.3px;
		color:#6d6d6d;
	&__cart-count
		font:13px/26px $f-segoe
		padding-top: 3px;
		padding-left: 0;
	&__cart-price
		font:700 27px/26px $f-segoe;
		margin-left: 3px;
		color:#6d6d6d;
	&__cart-button
		margin-left: 17px
		width: 81px
		height: 27px;
		background-color: $c-bg;
		background: linear-gradient(to left, #3f3f3f, #3d3d3d);
		box-shadow inset 1px 1px 0 0 #696969;
		border-radius:2px;
		font:15px/26px $f-segoe
		color:#ffffff;
		padding-left: 8px;
		&:hover
			background: linear-gradient(to top, #ffffff, #3d3d3d);
			border: 1px solid #000;
			color:#000000;
	&__wish-list
		position: relative;
		margin-left: 22px;
		margin-top: 14px
	&__list-text
		font: 21px/26px $f-segoe;
		color:$c-bg;
		margin-left: 2px
		margin-top: 2px;
	&__list-number
		background-color: $c-green;
		border-radius:10px;
		display: inline-block;
		width: 27px
		position: absolute
		text-align: center
		color:#ffffff;
		font: 13px/15px 'SegoeWP',sans-serif;
		padding-bottom: 2px;
		top: 18px;
		left: 63px;
	&__list-logo
		margin: 0 auto
		text-align: center;



