.header
	.header__logo
		.header__img
			img(alt="" src="assets/images/icons/logo.png" )
			.header__inner-text books
			.header__vertical-text online
	.header__search
		form.header__search-form
			input.header__search-input(type="text" name="search")
		.header__search-button-wrap
			.header__search-logo
				img(alt="" src="assets/images/icons/search.png")
			button.header__search-button Search
	.header__cart
		.header__cart-logo
			img(alt="" src="assets/images/icons/cart.png")
		.header__cart-title Your cart
		.header__cart-count (2 items)
		.header__cart-price $125.0
		a(href="product.html").header__cart-button Checkout
	.header__wish-list
		.header__list-logo
			img(alt="" src="assets/images/icons/star.png")
		.header__list-text Wish-list
		.header__list-number 20