include ../gallery/mixin/gall-mixin
.gallery
	.gallery__wrapper
		.gallery__line
			.gallery__inner-row
				+gallery({

						img: 'assets/images/gallery/1.png',
						name: 'The Hare With Amber Eyes',
						price: '$50',
						sum: '30%',
						descr: 'Off'
					})
				.gallery__discount.gallery__discount--first
					.gallery__sum 30%
					.gallery__description Off
			.gallery__inner-row
				+gallery(	{
						img: 'assets/images/gallery/2.png',
						name: 'The war of  Art',
						price: '$60'
					})
			.gallery__inner-row
				+gallery(	{
					img: 'assets/images/gallery/3.png',
					name: 'The Hare With Amber Eyes',
					price: '$25'
				})
				.gallery__discount.gallery__discount--second
					.gallery__sum 30%
					.gallery__description Off
			.gallery__inner-row
				+gallery({

					img: 'assets/images/gallery/4.png',
					name: 'The Immortals of Meluha',
					price: '$80'
				})
			.gallery__inner-row
				+gallery(    {
					img: 'assets/images/gallery/5.png',
					name: 'Life Is What You  Make It',
					price: '$200'
				})
		.gallery__line
			.gallery__inner-row
				+gallery(    {
					img: 'assets/images/gallery/6.png',
					name: 'The Hare With Amber Eyes',
					price: '$200'
				})
			.gallery__inner-row
				+gallery({

					img: 'assets/images/gallery/7.png',
					name: 'The war of  Art',
					price: '$150'
				})
			.gallery__inner-row
				+gallery(    {
					img: 'assets/images/gallery/8.png',
					name: 'The Hare With Amber Eyes',
					price: '$100'
				})
				.gallery__discount.gallery__discount--third
					.gallery__sum 30%
					.gallery__description Off
			.gallery__inner-row
				+gallery(    {
					img: 'assets/images/gallery/9.png',
					name: 'The Immortals of Meluha',
					price: '$152'
				})
			.gallery__inner-row
				+gallery({

					img: 'assets/images/gallery/10.png',
					name: 'Life Is What You  Make It',
					price: '$200'
				})
		.gallery__line
			.gallery__inner-row
				+gallery(    {
					img: 'assets/images/gallery/11.png',
					name: 'The Hare With Amber Eyes',
					price: '$220'
				})
			.gallery__inner-row
				+gallery(    {
					img: 'assets/images/gallery/12.png',
					name: 'The war of  Art',
					price: '$10'
				})
			.gallery__inner-row
				+gallery({

					img: 'assets/images/gallery/13.png',
					name: 'The Hare With Amber Eyes',
					price: '$22'
				})
			.gallery__inner-row
				+gallery(    {
					img: 'assets/images/gallery/14.png',
					name: 'The Immortals of Meluha',
					price: '$300'
				})
			.gallery__inner-row
				+gallery(    {
					img: 'assets/images/gallery/15.png',
					name: 'Life Is What You  Make It',
					price: '$205'
				})



