.gallery
	//display: flex;
	margin-top: -1px;
	margin-left: 8px;
	padding-top: 14px;
	flex-wrap: wrap;
	min-width: 800px;
	min-height: 825px;
	text-align: center;
	border:1px solid #d3d3d3;
	margin-bottom: 25px
	padding-left: 14px;
	&__inner-row
		position: relative
	&__wrapper
		min-width: 600px;
		width: 775px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap
	&__line
		display: flex;
		width: 100%;
		justify-content: space-around;
		&:nth-child(2)
			margin-top: 13px;
		&:nth-child(3)
			margin-top: 13px;
	&__inner-wrap
		display: flex;
		flex-direction: column;
		max-width: 130px;
		position: relative;
	&__name
		font:15px/16px $f-segoe-semilight
		color: $c-bg;
	&__name[data-name~="Art"]
		max-width: 85px;
		margin: 0 auto;
	&__price
		font:22px/20px $f-helvetica-r
		color:$c-red;
		margin-top: 10px;
	&__discount
		background: $c-red;
		border-radius: 50%;
		width: 51px;
		height: 51px;
		position: absolute;
	&__discount--first
		left: 76px;
		top: 4px;
	&__discount--second
		left: 82px;
		top: -4px;
	&__discount--third
		left: 85px;
		top: 0;
	&__sum
		color:#ffffff;
		font:700 19px/20px $f-segoe-bold
		margin-top: 10px;
	&__description
		color:#ffffff;
		font:13px/15px $f-segoe;
