.review
	h1.review__title Product review
	.review__row
		.review__user-info
			.review__photo
				img(alt="" src="assets/images/icons/photo.png")
			.review__name Name 1
		.review__review Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
	.review__line
	.review__row
		.review__user-info
			.review__photo
				img(alt="" src="assets/images/icons/photo.png")
			.review__name Name 2
		.review__review Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
	include ../comment/comment



