.review
	border-radius:5px;
	border:1px solid #c2c2c2;
	padding: 10px 30px 30px 30px;
	margin-bottom: 24px
	flex-basis: calc(100% - 279px);
	margin-top: 6px
	&__title
		font:20px/26px $f-segoe-ui;
		color:#7e7e7e;
		margin-bottom: 10px;
	&__row
		display: flex
	&__name
		font:14px/26px $f-segoe-ui;
		color:#7e7e7e;
		text-align: center
		margin-top: 3px;
	&__review
		font:13px/21px $f-segoe-ui;
		color:#7e7e7e;
		margin-left:16px;
		padding-right: 22px;
	&__photo
		width: 64px
		height: 64px
		margin-top: 5px
	&__line
		height: 1px;
		background-color: #e3e3e3;
		width: 100%;
		margin-bottom: 12px;
		margin-top: 5px;