ul.left-menu
	li.left-menu__item.left-menu--title Categories
	li.left-menu__item.left-menu--selected ALL
	li.left-menu__item.left-menu--inner-title Fiction & Literature
	li.left-menu__item Children
	li.left-menu__item Science Fiction
	li.left-menu__item Fantasy
	li.left-menu__item Mystery
	li.left-menu__item Romance
	li.left-menu__item Horror
	li.left-menu__item Poetry
	li.left-menu__item Literature
	li.left-menu__item Crime
	li.left-menu__item.left-menu--inner-title Non - Fiction
	li.left-menu__item Comic
	li.left-menu__item Cook
	li.left-menu__item Psychology
	li.left-menu__item Medical
	li.left-menu__item Art
	li.left-menu__item Photography
	li.left-menu__item Law
	li.left-menu__item History
	li.left-menu__item Business
	li.left-menu__item Computer
	li.left-menu__item.left-menu--inner-title Other
	li.left-menu__item Baby
	li.left-menu__item Sex
	li.left-menu__item Travel
	li.left-menu__item Science
	li.left-menu__item Sports






