.left-menu
	border:1px solid #d3d3d3;
	display: inline-block;
	width: 188px
	padding-top: 14px
	padding-bottom:76px
	&__item
		font:15px/26px $f-segoe-ui
		color: $c-bg;
		margin-left: 25px;
		&:hover:not(.left-menu--inner-title):not(.left-menu--title)
			background: linear-gradient(to bottom, #92d774, #7ab461);
			color:#ffffff;
			font: 17px/30px $f-segoe-wpn;
			margin-left: 0;
			padding-left: 25px
			cursor:pointer;
	&--title
		font: 24.33px/30px $f-segoe-light;
		color:#646464;
		margin-top: -9px;
		margin-bottom: 4px;
		margin-left: 14px;
		letter-spacing: 0.3px;
	&--selected
		background: linear-gradient(to bottom, #92d774, #7ab461);
		color:#ffffff;
		font: 17px/30px $f-segoe-wpn;
		margin-left: 0;
		padding-left: 25px
	&--inner-title
		font: 17px/30px $f-segoe-wpn;
		color: $c-bg;
		margin-left: 25px