.earth
	h1.earth__title Earth Sciences
	ul.earth__menu
		li.earth__item Earth Sciences
		li.earth__item Geography
		li.earth__item The Environment
		li.earth__item Regional & Area Planning
		li.earth__item Fantasy
		li.earth__item Gay
		li.earth__item Humorous
		li.earth__item Interactive
		li.earth__item Legal
		li.earth__item Lesbian
		li.earth__item Men'S Adventure

