.earth
	color:#dddddd;
	//padding-left: 156px;
	padding-top: 15px;
	padding-bottom:20px;
	&__title
		font: 19.67px/20px $f-segoe-light;
		width: 180%;
	&__menu
		padding-top: 15px;
	&__item
		font: 13.67px/24px $f-segoe-light;
		position: relative;
		width: 180%;
		&:not(:last-child):after
			width: 174px;
			height: 1px;
			border-bottom: 1px solid #dddddd;
			content: "";
			position: absolute;
			top: 22px;
			left: 0;