.footer
	background: url('../../assets/images/bg/bottom-menu.png') no-repeat 0 100%;
	text-align: center;
	margin: 0 auto;
	color:#ffffff;
	padding-top: 30px;
	&__cards-wrap
		display: flex;
		justify-content: center;
		margin-top: 15px;
	&__line
		height: 1px;
		background-color: #d3d3d3;
		margin-top: 14px;
	&__text
		margin-top: 20px;