.footer
	.footer__pay-text We accept all major Credit Card/Debit Card/Internet Banking
	.footer__cards-wrap
		.footer__card
			img(alt="" src="assets/images/cards/mc.png")
		.footer__card
			img(alt="" src="assets/images/cards/ae.png")
		.footer__card
			img(alt="" src="assets/images/cards/visa.png")
	.footer__line
	.footer__text Conditions of Use Privacy Notice © 2012-2013, Booksonline, Inc. or its affiliates