.slider
	width: 800px;
	height: 307px;
	background: url('../../assets/images/bg/slider.png') no-repeat;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 12px;
	margin: 15px 12px 10px 0;
	&__info
		color:#ffffff;
		text-align: center;
		position: relative;
		letter-spacing: 1px;
		left: 110px;
		top: 26px;
	&__title
		font:700 47px/28px $f-segoe;
	&__description
		font: 25px/28px $f-segoe;
		margin-top: 10px;
		letter-spacing: 0.3px;
		padding-left:3px
	&__author
		font: 700 21px/28px $f-segoe;
		margin-top: 5px;
		letter-spacing:0.3px;
	&__left-arrow
		position: relative;
		top: -8px;
		&:hover
			background-color: alpha(darkgrey,0.8);
			border-radius: 50%;
	&__right-arrow
		position: relative;
		top: -8px;
		&:hover
			background-color: alpha(darkgrey,0.8);
			border-radius: 50%;
