.slider
	.slider__left-arrow
		img(alt="" src="assets/images/icons/left-arrow.png")
	.slider__info
		.slider__title A Wanted Man
		.slider__description (Jack Reacher #17)
		.slider__author By Lee Child
	.slider__right-arrow
		img(alt="" src="assets/images/icons/right-arrow.png")

