.price
	.price__row
		.price__inner-wrap
			.price__title Our price
			.price__price $150
			.price__button Add to cart
		.price__inner-wrap.price__inner-wrap--old-price
			.price__old-text Was
			.price__old-price $ 200
			.price__old-persent-text Save
			.price__old-persent 20%
		.price__line
		.price__inner-row.price__lock-wrap
			.price__lock
				img(alt="" src="assets/images/icons/lock.png")
			.price__text Safe, Secure Shopping
		.price__cards
			.price__card
				img(alt="" src="assets/images/cards/pp.png")
			.price__card
				img(alt="" src="assets/images/cards/mc.png")
			.price__card
				img(alt="" src="assets/images/cards/visa.png")
			.price__card
				img(alt="" src="assets/images/cards/ae.png")
