.price
	border:1px solid #d3d3d3;
	margin-top:22px;
	margin-left:-9px;
	width: 610px;
	&__row
		margin-left: 22px;
		margin-top: 20px;
		margin-bottom:13px;
		margin-right: 32px
	&__inner-wrap
		display: flex;
		font: 17px/17px $f-segoe-ui;
		color: #939292;
		position: relative;
		&--old-price
			margin-top: -15px;
			margin-left: 7px;
	&__old-text
		margin-left: 0
	&__old-price
		margin: 0 5px;

	&__old-persent
		margin-left: 5px
	&__title
		font: 35.77px/28.1px $f-segoe
		color: #015699;
		margin-left: 3px;
		margin-top: -4px;
		&:after
			content: ":"
			position: relative;
			left: 10px;
	&__price
		font:700 35.77px/28.1px $f-segoe-bold;
		color: $c-red;
		margin-left: 21px;
	&__cards
		display: flex;
	&__button
		font:700 24.48px/20.33px $f-helvetica-b;
		background: linear-gradient(to bottom, #92d774, #51a551) ;
		display: inline-block
		padding:12px 40px 11px 30px;
		border-radius 2px;
		margin-top: 10px;
		color:#ffffff;
		position: relative;
		top: -5px;
		left: 105px;
		&:hover
			background: linear-gradient(to top, #92d774, #51a551) ;
			cursor:pointer;
	&__line
		margin-top: 30px
		height: 1px
		background-color: #d3d3d3;
		width: 100%
	&__inner-row
		margin-top: 8px;
		display: flex
	&__text
		font:13px/27px $f-helvetica-r;
		color:#939292
		margin-top: -6px
		margin-left: 2px;
	&__cards
		margin-top: 1px;
		margin-left: 8px;
	&__card>img
		border-radius:2px;
	&__card:not(:first-child)
		margin-left: 9px
	&__lock-wrap
		margin-left: 8px;
		margin-top: 4px;

