.mathematics
	h1.mathematics__title Mathematics
	ul.mathematics__menu
		li.mathematics__item Algebra
		li.mathematics__item Differential Equations
		li.mathematics__item Discrete Mathematics
		li.mathematics__item Fourier Analysis
		li.mathematics__item Numerical Analysis
		li.mathematics__item Probability
		li.mathematics__item Statistical Methods/data Analysis
		li.mathematics__item Stochastic And Random Processes
		li.mathematics__item Topology
		li.mathematics__item Statistics
		li.mathematics__item Mathematics

